body {
    background-color: #FFF6F6;
    font-family: "Open Sans";
}

header {
    display:flex;
    justify-content: flex-end;
}

header hr {
    margin:2vw 5vh;
    width: 2px;
    border: none;
    background-color: #DA7760;
}

.icone_menu {
    margin-top: 2vh;
    display: inline;
    height: 100%;
    text-decoration: none;
    position: relative;
    margin-left: 2vw;
    margin-right: 0;
}

.icone_menu img {
    height: 6vh;
}

.icone_menu p {
    color : #DA7760;
    text-decoration: none;
    margin-top: 0;
    text-align: center;
}

header .button {
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.button {
    background-color: #DA7760;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    width: 10vw;
    height: 5vh;
    font-size: 1.3em;
    text-align: center;
    margin-top: 4vh;
    margin-right: 3vw;
}

.button:hover {
    background-color: #b85a45;
}

.element_flex {
    display: flex;
    width: 100%;
}

.element_flex1 {
    display: inline;
    position: relative;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 3vh;
}

.element_flex1 h1 {
    color: #DA7760;
    font-size: 2.5em;
}

.element_flex1 form {
    margin-top: 3vh;
    display: grid;
}

.element_flex1 input[type=text] {
    margin: 1vh 0;
    width: 20vw;
    height: 6vh;
    border-radius: 20px;
    border: solid 1px black;
    background-color: #FFF6F6;
    font-size: 1.2em;
    padding: 0 1vw;
}

.element_flex1 input[type=password]{
    margin: 1vh 0;
    width: 20vw;
    height: 6vh;
    border-radius: 20px;
    border: solid 1px black;
    background-color: #FFF6F6;
    font-size: 1.2em;
    padding: 0 1vw;
}

label {
    margin-top: 2vh;
}

.element_flex1 input[type=submit]{
    border: none;
    height: 6vh;
    width: 12vw;
    cursor: pointer;
    margin-left: 5vw;
}

#gens {
    width: 40vw;
    position: relative;
    top:10vh;
    left:10vw
}

#bulle {
    width: 25vw;
    position: relative;
    top:15vh;
    left:10vw;
}

#logo {
    width: 10vw;
    position: absolute;
    top:4vh;
    left:2vw
}

form a {
    color: black;
    margin-top:2vh;
    margin-left: 10vw;
    font-style: italic;
}

form p {
    color: #A14A3E;
}

#menu_gauche {
    padding: 15vh 1vw;
    position: fixed;
    border-right: solid 1px #DA7760;
    width: 15vw;
    height: 100%;
}

.menu_gauche_bouton {
    display: flex;
    margin-top: 1vh;
    height: 7vh;
    text-decoration: none;
}

.menu_gauche_bouton p {
    font-weight: 800;
    margin-top: 3.5vh;
    margin-left: 2vw;
}

.menu_gauche_bouton:hover .o{
    text-decoration: underline;  
    text-decoration-color: #DA7760;
}

.menu_gauche_bouton:hover .n{
    text-decoration: underline;  
    text-decoration-color: #221F30;
}

.menu_gauche_bouton img {
    height: 5vh;
    margin-top: 2vh;
}

.o {
    color: #DA7760;
    
}

.n {
    color:#221F30;
    text-decoration-color: #221F30;
}

.publication {
    margin-top: 5vh;
    position: relative;
    left: 25vw;
}

.entete {
    display: flex;
    width: 40vw;
    margin-top: 1vh;
}


.pdp {
    position: relative;
    width: 3vw;
    height: 3vw;
    background-color: #221F30;
    border-radius: 50%;
    overflow: hidden;
}

.pdp img {
    position: relative;
    width: 100%;
}

.pseudo {
    position: relative;
    top: 1.5vh;
    color: #221F30;
    font-weight: 800;
    text-decoration: none;
    margin-left: 1vw;

}

.image {
    margin-top: 2vh;
    width: 40vw;
    border: solid 2px white;
}

.image img{
    width: 100%;
}

.texte p {
    font-style: italic;
}

.commentaire {
    margin-top: 2vh;
    color: #DA7760;
    border: none;
    border-bottom: solid 1px #DA7760;
    background-color: #FFF6F6;
    font-size: 1em;
    width: 40vw;
    text-align: left;
    font-style: italic;
    cursor: pointer;
}

.commentaire:hover {
    opacity: 0.5;
}

.bouton_icone {
    width: 3vw;
    height: 3vw;
    background-color: #FFF6F6;
    border: none;
    cursor: pointer;
}

.bouton_icone img {
    width: 100%;
}

.bouton_icone:hover {
    opacity: 0.5;
}

.bouton_icone_boite {
    display: flex;
    position: absolute;
    right: 0;
}

.com {
    display: flex;
    margin-top: 2vh;
}

.com p {
    color :#DA7760;
    margin-left: 1vw;
}

.com_box {
    display: none;
}

.bouton_icone_boite form {
    width: 5vw;
    height: 2vw;
    display: flex;
    position: relative;
    margin-top: 1vh;
}

.bouton_icone_boite form img {
    position: relative;
    left: 2.5vw;
}

#like {
    display: flex;
    width: 5vw;
    height: 2vw;
    position: relative;
    border: none;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    background-color: #FFF6F6;
}

#like:hover {
    opacity: 0.5;
}

.display {
    display: flex;
}

.publi_box {
    display: inline;
}

.message {
    margin-left: 1vw;
    color: #DA7760;
    border: none;
    background-color: #FFF6F6;
    font-size: 1em;
    cursor:text;
    margin-top: 1vw;
}

.message::placeholder {
    color: #DA7760;
    opacity: 0.5;
}

.publier_box{
    position: relative;
    display: inline;
    left: 25vw;
    margin-top: 15vh;
}

.publier_box img {
    width: 8vw;
    position: relative;
    left: 21vw;
}

.publier_box p {
    position: relative;
    font-weight: 800;
    font-size: 1.2em;
    left: 19vw;
}

.publier_box input[type="file"]{
    z-index: -1;
    position: absolute;
}

.publier_box form {
    display: grid;
    margin-top: 5vh;
}

.importer {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    left:26vw;
}

#importer {
    display: inline-block;
    position: relative;
    background-color: #DA7760;
    border-radius: 20px;
    color: white;
    padding: 1vh 5vw;
    top: -3vh;
    right:8.2vw;
    cursor: pointer;
}

.publier_box form input[type="text"]{
    width: 50vw;
    height: 5vh;
    background-color: #FFF6F6;
    border: dashed 1px #221F30;
    margin-top: 5vh;
    padding: 0 2vw;
    font-size: 1em;
}

.publier_box form input[type="text"]::placeholder{
    font-style: italic;

}

.publier_box form input[type="submit"]{
    background-color: #DA7760;
    border-radius: 20px;
    color: white;
    height: 5vh;
    width: 15.5vw;
    border: none;
    font-size: 1em;
    position: relative;
    margin-left:17.5vw;
    text-align: center;
    margin-top: 7vh;
    cursor: pointer;
}  

#rechercher {
    position: relative;
    left:25vw;
}

#recherche_form input {
    background-color: #FFF6F6;
    border: none;
    width: 50vw;
    font-size: 1.2em;
    margin-top: 2vh;
    padding: 2vh 1vw;
    color:#DA7760;
}

#recherche_form{
    border-bottom: solid 1px #DA7760;
}

#recherche_form img {
    width: 2vw;
    position: relative;
    top:1vh;
}

#recherche_form input::placeholder{
    color: #DA7760;
    font-style: italic;
}

#resultat {
    margin-top: 2vh;
}

#propos {
    padding: 5vh 5vw;
    font-size: 1.2em;
}

.admin {
    display: none;
    position: absolute;
    top:8vh;
    width: 100%;
    height: 100%;
}

.admin input {
    position: relative;
    left: 79%;
    background-color: #221F30;
    color: white;
    border:none;
    text-decoration: none;
    width: 20%;
    height: 3vw;
    font-size: 1.3em;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
}

#story_box {
    position: fixed;
    right: 0;
    width: 30vw;
    height: 100%;
    border-left: solid 1px #DA7760;
    display: flex;
}

#story_box .pdp {
    position: relative;
    margin-left: 2vw;
    margin-top: 2vh;
    width: 7vw;
    height: 7vw;
    border: solid 3px #DA7760;
    cursor: pointer;
}

.story_contour{
    position: absolute;
    border: solid 3px #FFF6F6;
    width: 6.2vw;
    height: 6.2vw;
    left: 0;
    top : 0;
    border-radius: 50%;
    overflow: hidden;
}

.image_story{
    z-index: 3;
    position: absolute;
    width: 40vw;
    background-color: #221F30;
    right: 35vw;
    top: 10vh;
}

.image_story img{
    width: 100%;
}

.sto{
    display: none;
}

.flou {
    position: absolute;
    right: 0;
    top:-1vh;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: #221F30;
    opacity: 0.8;
}