body {
    background-color: #FFF6F6;
    font-family: "Open Sans";
}

header {
    display:flex;
    justify-content: flex-end;
}

header hr {
    margin:2vw 5vh;
    width: 2px;
    border: none;
    background-color: #DA7760;
}

.icone_menu {
    margin-top: 2vh;
    display: inline;
    height: 100%;
    text-decoration: none;
    position: relative;
    margin-left: 2vw;
    margin-right: 0;
}

.icone_menu img {
    height: 6vh;
}

.icone_menu p {
    color : #DA7760;
    text-decoration: none;
    margin-top: 0;
    text-align: center;
}

header .button {
    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.button {
    background-color: #DA7760;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    width: 10vw;
    height: 5vh;
    font-size: 1.3em;
    text-align: center;
    margin-top: 4vh;
    margin-right: 3vw;
}

.button:hover {
    background-color: #b85a45;
}

.element_flex {
    display: flex;
    width: 100%;
}

.element_flex1 {
    display: inline;
    position: relative;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 3vh;
}

.element_flex1 h1 {
    color: #DA7760;
    font-size: 2.5em;
}

.element_flex1 form {
    margin-top: 3vh;
    display: grid;
}

.element_flex1 input[type=text] {
    margin: 1vh 0;
    width: 20vw;
    height: 6vh;
    border-radius: 20px;
    border: solid 1px black;
    background-color: #FFF6F6;
    font-size: 1.2em;
    padding: 0 1vw;
}

.element_flex1 input[type=password]{
    margin: 1vh 0;
    width: 20vw;
    height: 6vh;
    border-radius: 20px;
    border: solid 1px black;
    background-color: #FFF6F6;
    font-size: 1.2em;
    padding: 0 1vw;
}

label {
    margin-top: 2vh;
}

.element_flex1 input[type=submit]{
    border: none;
    height: 6vh;
    width: 12vw;
    cursor: pointer;
    margin-left: 5vw;
}

#gens {
    width: 40vw;
    position: relative;
    bottom:15vh;
    left:10vw
}

#bulle {
    width: 25vw;
    position: relative;
    top:10vh;
    left:10vw;
}

#bulle_texte {
    color:#A14A3E;
    width: 20vw;
    font-size: 1.7em;
    text-align: center;
    position: relative;
    left: 12.5vw;
    bottom:18vh;
}

#logo {
    width: 10vw;
    position: absolute;
    top:4vh;
    left:2vw
}

form a {
    color: black;
    margin-top:2vh;
    margin-left: 10vw;
    font-style: italic;
}

form p {
    color: #A14A3E;
}

#menu_gauche {
    padding: 15vh 1vw;
    position: fixed;
    border-right: solid 1px #DA7760;
    width: 15vw;
    height: 100%;
}

.menu_gauche_bouton {
    display: flex;
    margin-top: 1vh;
    height: 7vh;
    text-decoration: none;
}

.menu_gauche_bouton p {
    font-weight: 800;
    margin-top: 3.5vh;
    margin-left: 2vw;
}

.menu_gauche_bouton:hover .o{
    text-decoration: underline;  
    text-decoration-color: #DA7760;
}

.menu_gauche_bouton:hover .n{
    text-decoration: underline;  
    text-decoration-color: #221F30;
}

.menu_gauche_bouton img {
    height: 5vh;
    margin-top: 2vh;
}

.o {
    color: #DA7760;
    
}

.n {
    color:#221F30;
    text-decoration-color: #221F30;
}

.publication {
    margin-top: 5vh;
    position: relative;
    left: 25vw;
}

.entete {
    display: flex;
    width: 40vw;
}


.pdp {
    position: relative;
    display: flex;
    width: 3vw;
    height: 3vw;
    background-color: #221F30;
    border-radius: 20px;
    overflow: hidden;
}

.pdp img {
    position: relative;
    width: 100%;
}

.pseudo {
    position: relative;
    top: 1.5vh;
    color: #221F30;
    font-weight: 800;
    text-decoration: none;
    margin-left: 1vw;

}

.image {
    margin-top: 2vh;
    width: 40vw;
    border: solid 2px white;
}

.image img{
    width: 100%;
}

.texte p {
    font-style: italic;
}

.commentaire {
    color: #DA7760;
    border: none;
    border-bottom: solid 1px #DA7760;
    background-color: #FFF6F6;
    font-size: 1em;
    width: 40vw;
    text-align: left;
    font-style: italic;
    cursor: pointer;
}

.commentaire:hover {
    opacity: 0.5;
}

.bouton_icone {
    width: 3vw;
    height: 3vw;
    background-color: #FFF6F6;
    border: none;
    cursor: pointer;
}

.bouton_icone img {
    width: 100%;
}

.bouton_icone:hover {
    opacity: 0.5;
}

.bouton_icone_boite {
    display: flex;
    position: absolute;
    right: 0;
}

.com {
    display: flex;
    margin-top: 2vh;
}

.com p {
    color :#DA7760;
    margin-left: 1vw;
}

.com_box {
    display: none;
}

.bouton_icone_boite form {
    width: 5vw;
    height: 2vw;
    display: flex;
    position: relative;
    margin-top: 1vh;
}

.bouton_icone_boite form img {
    position: relative;
    left: 2.5vw;
}

#like {
    display: flex;
    width: 5vw;
    height: 2vw;
    position: relative;
    border: none;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    background-color: #FFF6F6;
}

#like:hover {
    opacity: 0.5;
}

.display {
    display: flex;
}

.publi_box {
    display: inline;
}

.message {
    color: #DA7760;
    border: none;
    border-bottom: solid 1px #DA7760;
    background-color: #FFF6F6;
    font-size: 1em;
    width: 40vw;
    text-align: left;
    cursor:text;
}

.message::placeholder {
    color: #DA7760;
    opacity: 0.5;
}